body
  {
    padding: 0;
    margin: 0;
    background:cornflowerblue
  }

  .navbar
  {
    background:#000
  }

  .nav-link
  {
    margin-right: 5em !important;
  }

  .navbar-collapse
  {
    justify-content: flex-end;
  }

  .center
  {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

 .footer
 {
   background-color: black;
   padding: 10px;
   text-align: center;
   color:cornsilk
 }

 #new_div_3
 {
  margin: 0 auto;
  position: relative;
  width: 60%;
 }



 